<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh-Hans</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
        <string>zh-Hant</string>
        <string>hi</string>
        <string>es-419</string>
        <string>es-ES</string>
        <string>ar</string>
        <string>fr</string>
        <string>bn</string>
        <string>pt-BR</string>
        <string>pt-PT</string>
        <string>id</string>
        <string>ur</string>
        <string>ru</string>
        <string>de</string>
        <string>ja</string>
        <string>sw</string>
        <string>pa-Arab</string>
        <string>te</string>
        <string>pcm</string>
    </array>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>SlimLuma</string>
    <key>CFBundleExecutable</key>
    <string>SlimLuma</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.chinesemao.SlimLuma</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SlimLuma</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 SlimLuma copyright holders. All rights reserved. Published by SlimLuma copyright holders</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
	<string>0.2.1</string>
    <key>CFBundleVersion</key>
	<string>3</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>添加到 SlimLuma 压缩队列</string>
            </dict>
            <key>NSMessage</key>
            <string>importMedia</string>
            <key>NSPortName</key>
            <string>SlimLuma</string>
            <key>NSSendFileTypes</key>
            <array>
                <string>public.image</string>
                <string>public.movie</string>
                <string>public.video</string>
                <string>com.adobe.pdf</string>
            </array>
            <key>NSServiceDescription</key>
            <string>SLIMLUMA_SERVICE_DESCRIPTION</string>
            <key>NSRequiredContext</key>
            <dict/>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>支持的媒体文件</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.image</string>
                <string>public.movie</string>
                <string>public.video</string>
                <string>com.adobe.pdf</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
